# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.djam5.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\piotr\source\repos\djam5\.idea\.idea.djam5\.idea/dataSources/
/dataSources.local.xml
